.transactions{
    display: flex;
    padding: 24px;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    flex: 1 0 0;
    align-self: stretch; 
    border-radius: 20px;
    background: var(--slate-50, #F8FAFC);
    box-shadow: 5px 15px 30px -5px #DCE0EC;
    overflow-y: scroll;
    max-height: 60vh;
}

.bar{
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: stretch; 
    color: var(--slate-800, #1E293B);
    text-align: center;
    font-family: Mulish;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal; 
}

.tableHeader{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;    
    color: var(--slate-400, #94A3B8);
    text-align: center;
    font-family: Mulish;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal; 
}

.tableHeaderCell{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 0 0; 
   
}

.tableHeaderTypeCell{
    display: flex;
    width: 40px;
    justify-content: center;
    align-items: center; 
}