footer{
    display: flex;
    padding: 20px 120px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch; 
    background: var(--tailwind-colors-slate-300, #CBD5E1); 
}

footer span{
    color: var(--tailwind-colors-slate-800, #1E293B);
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%; /* 20.8px */ 
}

footer p{
    color: var(--tailwind-colors-slate-800, #1E293B);
    font-family: Mulish;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 18.2px */ 
}