*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  text-align: center;
}

.dash{
  display: flex;
  padding: 0px 120px;
  align-items: center;
  gap: 32px;
  align-self: stretch; 
}

.content{
  display: flex;
  padding: 0px 120px;
  justify-content: space-between;
  align-items: center;
  flex: 1 0 0;
  align-self: stretch; 
}